body {
  padding: 2em;
  padding-top: 1em;
  background-color: #222;
  font-family: 'Berkshire Swash', cursive;

}

main {
  border: 2px solid #fff;
  padding: 1em 2em;
  height: 30em;
  background-color: #F0EFEA;
  background-image:  url('../img/christmas-poinsettia-phone-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


h1 {
  font-size: 3em;
  text-align: center;
  font-weight: 800;
  color: #353239;
  text-shadow: 2px 2px #000;
  line-height: 1.25;
}


h1 span span {
  color: tomato;
 	animation: move-text 0.75s forwards;
  position: relative;
  opacity: 0;
}

h1 span span:nth-child(2n) { color: lightseagreen; }
h1 span span:nth-child(3n) { color: orange; }
h1 span span:nth-child(4n) { color: dodgerblue; }
h1 span span:nth-child(5n) { color: blueviolet; }

@keyframes move-text {
    0% { bottom: -2em; opacity: 1; }
    50% { bottom: 0.2em; }
    100% { bottom: 0; opacity: 1; }
}
